.container {
  width: 1080px;
  margin: 0 auto;
  overflow: auto;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  height: 100%;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
